@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: rgba(87,4,20,.7);
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
    transition: all .3s ease
}

@media (min-width: 1025px) {
    .header {
        padding:0
    }
}

.header--without-opacity {
    background-color: #570414
}

.header__list {
    display: none;
    justify-content: flex-end;
    align-items: center;
    height: 100%
}

@media (min-width: 1025px) {
    .header__list {
        display:flex
    }
}

.header__list a,.header__list li {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: hsla(0,0%,100%,.75);
    background: transparent;
    text-decoration: none;
    font-family: Poppins;
    border-radius: 0;
    cursor: pointer
}

.header__list a:hover,.header__list li:hover {
    color: #75051b;
    background: #fafafa
}

.header__logo {
    background-color: transparent;
    padding: 0;
    display: flex
}

.header__logo img {
    width: 36px;
    padding: 5px;
    padding-left: 0
}

.header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.header .bm-menu {
    background-color: #81061f
}

@media (max-width: 768px) {
    .header .bm-menu {
        max-width:100%!important
    }
}

.header .bm-item-list {
    padding: 0 15px;
    margin: 0
}

.header .bm-item-list a {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: hsla(0,0%,100%,.75);
    background: transparent;
    text-decoration: none;
    font-family: Poppins;
    border-radius: 0;
    cursor: pointer
}

.header .bm-item-list a:hover {
    color: #75051b;
    background: #fafafa
}

.header .bm-burger-button {
    position: relative;
    left: 0;
    right: 0!important;
    top: 0;
    bottom: 0
}

.header .bm-burger-bars {
    background-color: #fafafa
}

.header .line-style {
    height: 15%
}

.header .bm-cross-button {
    left: 35px;
    right: inherit
}

.footer {
    background-color: #570415;
    padding: 20px 0
}

@media (max-width: 880px) {
    .footer {
        font:700 14px sans-serif
    }

    .footer__left,.footer__right {
        width: 100%;
        margin-bottom: 40px;
        text-align: center
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

@media (max-width: 768px) {
    .footer__content {
        flex-wrap:wrap;
        text-align: center
    }
}

.footer__left .logo {
    width: 140px
}

.footer__center {
    flex-grow: 1;
    display: flex;
    justify-content: center
}

.footer__links {
    color: #fff;
    padding: 0;
    margin-top: 0
}

.footer__links a {
    display: inline-block;
    color: #fff;
    background: transparent;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px
}

.footer__company-name {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    font-family: Poppins;
    text-align: right;
    margin-top: 60px
}

@media (max-width: 768px) {
    .footer__company-name {
        margin-top:0
    }
}

.footer__contact-title {
    color: #fff;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 4px
}

.footer__email {
    text-decoration: none;
    background-color: transparent;
    padding: 0
}

.footer__email:hover {
    text-decoration: underline
}

.footer__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px -5px 0
}

@media (max-width: 768px) {
    .footer__icons {
        justify-content:center
    }
}

.footer__icons a {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: transparent;
    padding: 4px
}

.footer__icons a img {
    width: 100%
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    body {
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box
        }
    }
}

#app,body,html {
    height: 100vh;
    margin: 0
}

img {
    border: 0;
    outline: none
}

li,ul {
    list-style: none;
    margin: 0
}

.container {
    display: flex;
    width: 90%;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    flex-direction: column
}

a,button {
    display: inline-block;
    background-color: #818a91;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
    text-align: center;
    border: none;
    transition: all .3s;
    font-family: Poppins
}

a.primary,button.primary {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    fill: #282828;
    color: #282828;
    background-color: #fff;
    border-radius: 0 0 0 0;
    padding: 19px 43px 19px 43px
}

.divider {
    display: block;
    width: 70px;
    height: 5px;
    background-color: #81061f;
    border-radius: 5px;
    margin-top: 20px
}

#app {
    font-family: Roboto,sans-serif;
    color: #777
}

@media screen and (min-width: 1025px) {
    div[nooverlay] {
        display:none
    }
}

.banner {
    min-height: 926px;
    background-image: url(../img/banner.cecf7b88.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

@media (max-width: 1024px) {
    .banner {
        min-height:568px
    }
}

.banner__overlay {
    background-color: transparent;
    background-image: linear-gradient(90deg,#000 10%,#e73c7e);
    opacity: .7;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0
}

.banner__text {
    z-index: 1
}

.banner__shapes {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    line-height: 0;
    direction: ltr;
    transform: rotate(180deg)
}

.banner h1 {
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin: 0
}

@media (max-width: 1024px) {
    .banner h1 {
        font-size:55px
    }
}

.banner p {
    text-align: left;
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 500
}

@media (max-width: 1024px) {
    .banner p {
        font-size:16px;
        margin: 20px 0
    }
}

.banner__button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 210px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer
}

.banner__button:hover {
    color: #fff;
    background: #81061f
}

.banner__button:hover svg {
    fill: #fff
}

.banner__button svg {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    transition: .3s
}

.services {
    margin-top: 70px
}

.services__box {
    padding: 4em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -25px
}

@media (max-width: 768px) {
    .services__box {
        margin:0
    }
}

.services__item {
    display: flex;
    align-items: center;
    margin: 0 25px;
    padding: 25px 0;
    min-width: 40%
}

@media (min-width: 769px) {
    .services__item {
        flex:1 1 0
    }
}

.services__item img {
    margin-right: 25px;
    width: 70px
}

.services__item h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    color: #81061f
}

.services__item h3,.services__item p {
    margin: 0;
    font-family: Poppins;
    letter-spacing: 1px
}

.services__item p {
    color: #2b2b2b;
    font-weight: 300
}

.services h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    line-height: 50px
}

@media (max-width: 1024px) {
    .services h2 {
        font-size:30px
    }
}

.training {
    margin-top: 60px;
    padding: 60px 0;
    position: relative
}

.training__overlay {
    background-color: #fafafa;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0
}

.training h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 50px
}

@media (max-width: 1024px) {
    .training h2 {
        font-size:30px
    }
}

.training p {
    color: #000;
    z-index: 1;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: 400;
    font-family: Poppins
}

@media (max-width: 1024px) {
    .training p {
        font-size:15px
    }
}

.training p.second-paragraph {
    margin-top: 0
}

.training__list {
    padding: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px -7.5px 0
}

.training__list li {
    color: #333;
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
    border: 2px solid #81061f;
    margin: 7.5px;
    padding: 15px 30px;
    background: #fff;
    width: 290px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    text-transform: capitalize
}

@media (max-width: 1024px) {
    .training__list li {
        padding:15px;
        font-size: 14px
    }
}

.training__list li span {
    color: #81061f;
    font-weight: 700;
    font-size: 22px
}

@media (max-width: 1024px) {
    .training__list li span {
        font-size:18px
    }
}

.reports {
    padding: 60px 0;
    position: relative;
    background-image: url(../img/banner_reports.72e5fca9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed
}

.reports__overlay {
    background-color: transparent;
    background-image: linear-gradient(90deg,#000 30%,#570415);
    opacity: .9;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0
}

.reports__list {
    padding: 0;
    z-index: 1
}

.reports__list li {
    color: #fff;
    margin: 7.5px 0;
    font-weight: 500;
    letter-spacing: 1px;
    list-style: inside;
    font-size: 18px;
    font-family: Poppins
}

@media (max-width: 1024px) {
    .reports__list li {
        font-size:14px
    }
}

.reports h2 {
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1
}

@media (max-width: 1024px) {
    .reports h2 {
        font-size:30px
    }
}

.reports .divider {
    background-color: #fff
}

.reports p {
    color: #fff;
    z-index: 1;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: 400;
    font-family: Poppins
}

@media (max-width: 1024px) {
    .reports p {
        font-size:15px
    }
}

.reports p.second-paragraph {
    margin-top: 0
}

.sipat {
    padding-top: 80px;
    position: relative
}

.sipat__carousel {
    margin: 120px 0
}

.sipat__carousel .VueCarousel-pagination {
    position: absolute;
    bottom: -60px
}

@media (max-width: 768px) {
    .sipat__carousel .VueCarousel-navigation-button {
        display:none
    }
}

.sipat__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.sipat__item img {
    width: 150px
}

@media (max-width: 1024px) {
    .sipat__item img {
        width:120px
    }
}

.sipat__item span {
    margin-top: 24px;
    font-size: 18px;
    max-width: 90%;
    text-align: center;
    color: #333;
    font-weight: 500;
    font-family: Poppins
}

.sipat h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1
}

@media (max-width: 1024px) {
    .sipat h2 {
        font-size:30px
    }
}

.security {
    padding: 60px 0;
    position: relative;
    background-color: #81061f;
    background-image: url(../img/development.419317b9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

.security__overlay {
    background-color: transparent;
    background-image: linear-gradient(120deg,#111 50%,#81001f);
    opacity: .9;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0
}

.security__box {
    display: flex;
    border: 2px solid #fff;
    align-items: stretch;
    margin-top: 45px;
    z-index: 1
}

@media (max-width: 768px) {
    .security__box {
        flex-wrap:wrap;
        text-align: center
    }
}

.security__option {
    padding: 2em;
    flex-grow: 1;
    width: 100%;
    z-index: 1
}

@media (max-width: 768px) {
    .security__option {
        padding:2em 10px
    }
}

.security__option:first-child {
    background: #570415
}

.security__option:last-child h4,.security__option:last-child p,.security__option:last-child span {
    color: #fff
}

.security__option h4 {
    font-size: 30px;
    color: #fff;
    font-family: Poppins,Sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 32px
}

.security__option h4 span {
    font-size: 14px;
    line-height: 15px;
    display: block;
    font-family: Roboto,Sans-serif
}

.security__option img {
    width: 160px;
    margin: 40px auto;
    display: block
}

.security__option .custom-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.security__option .custom-app p.emphasis {
    font-weight: 700;
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: right
}

@media (max-width: 768px) {
    .security__option .custom-app p.emphasis {
        margin-bottom:50px;
        margin-top: 0
    }
}

.security__features {
    font-family: Roboto;
    color: #fff
}

.security__features h5 {
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 20px
}

.security__features p.feature-description {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0
}

.security__features ul {
    padding: 0;
    margin-bottom: 30px
}

.security__features ul li {
    list-style: inside;
    margin: 6px 0;
    font-size: 16px
}

.security .divider {
    background-color: #fff;
    z-index: 1
}

.security h2 {
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1
}

@media (max-width: 1024px) {
    .security h2 {
        font-size:30px
    }
}

.security p {
    color: #fff;
    font-size: 16px;
    margin-top: 18px;
    font-weight: 400;
    z-index: 1;
    letter-spacing: 1px
}

@media (max-width: 1024px) {
    .security p {
        font-size:14px
    }
}

.galery {
    margin: 60px 0 90px
}

@media (max-width: 768px) {
    .galery .VueCarousel-navigation-button {
        display:none
    }
}

.galery h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 50px
}

.galery__carousel {
    padding: 60px 0 40px
}

.galery__carousel .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.galery__carousel .item-img {
    height: auto;
    border: 2px solid #81061f;
    border-radius: 50%;
    padding: 4px
}

@media (max-width: 768px) {
    .galery__carousel .item-img {
        height:120px
    }
}

.galery__carousel .VueCarousel-pagination {
    position: absolute;
    bottom: -40px
}

.protection {
    min-height: 100vh
}

.protection__banner {
    min-height: 926px;
    background-image: url(../img/protection.a31eb1ef.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

@media (max-width: 1024px) {
    .protection__banner {
        min-height:650px
    }
}

.protection__banner .overlay {
    background-color: #fafafa;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    background: linear-gradient(-45deg,#000,#81061f,#000,#570415);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    opacity: .6
}

.protection__banner-text {
    z-index: 1
}

.protection__banner-text h1 {
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin: 0
}

@media (max-width: 1024px) {
    .protection__banner-text h1 {
        font-size:45px
    }
}

.protection__banner-text p {
    text-align: left;
    color: #fff;
    font-family: Poppins,Sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 500
}

@media (max-width: 1024px) {
    .protection__banner-text p {
        font-size:16px
    }
}

.protection__list h4 {
    color: #333;
    font-family: Poppins,Sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 24px
}

.protection__list h4 span {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize
}

.protection__list ul {
    padding: 0;
    margin-bottom: 40px
}

.protection__list ul li {
    margin: 10px 0;
    color: #333;
    font-weight: 300;
    display: flex;
    align-items: center;
    letter-spacing: 1px
}

.protection__list ul .check {
    display: inline-block;
    position: relative;
    margin-right: 14px;
    width: 24px;
    height: 24px;
    border: 1px solid #81061f;
    border-radius: 50%;
    min-width: 24px
}

.protection__list ul .check:before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    border-bottom: 4px solid #81061f;
    border-right: 4px solid #81061f;
    left: 0;
    right: 0;
    top: -4px;
    bottom: 0;
    margin: auto
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.protection__description {
    margin-top: 120px
}

.protection__description h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 50px
}

@media (max-width: 1024px) {
    .protection__description h2 {
        font-size:30px
    }
}

.protection__description p {
    color: #000;
    z-index: 1;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-weight: 400;
    font-family: Poppins
}

@media (max-width: 1024px) {
    .protection__description p {
        font-size:15px
    }
}

.protection__fire {
    margin-top: 100px;
    position: relative;
    padding: 60px 0;
    background-image: url(../img/fire.2e2d4244.svg);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 95% 80%;
    background-color: #fafafa
}

@media (max-width: 1024px) {
    .protection__fire {
        background-image:none
    }
}

.protection__fire h2 {
    color: #81061f;
    font-family: Poppins,Sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 50px
}

@media (max-width: 1024px) {
    .protection__fire h2 {
        font-size:30px
    }
}

.protection__fire p {
    color: #000;
    z-index: 1;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-weight: 400;
    font-family: Poppins
}

@media (max-width: 1024px) {
    .protection__fire p {
        font-size:15px
    }
}

.protection__fire .protection__list {
    margin-top: 40px;
    z-index: 1
}

.protection__fire .protection__list li {
    margin: 20px 0
}
