/* Configs globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #08003b;
}

/* Configs de header */

.LogoEmpresa {
  height: 70px;
  object-fit: contain;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #b9d4e9, #08003b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 300;
  font-size: 1.2rem;
}

header nav {
  position: static;
  margin-left: auto;
  display: flex;
  gap: 3vw;
  margin-right: 50%;
}

.TituloHeader {
  text-decoration: none;
  color: black;
  font-family: "Roboto Flex", sans-serif;
  font-size: 150%;
  font-weight: 600;
}

/* Menu hamburguer */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 3px;
}

/* Configs mobile */
@media (max-width: 1420px) {

  header nav {
    margin-right: 20px;
    position:fixed;
    right: 0;
  }
}

@media (max-width: 768px) {

  #menu {
    display: none;
    position: absolute;
    top: 80px;
    background: #85baf7;
    width: 150px;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;

  }

  #menu .TituloHeader{
    color:#000000;
  }
  #menu.show {
    display: flex;
  }

  .hamburger {
    display: flex;
    padding-left: 80%;
  }
}

/* Configs do corpo */

main {
  padding-top: 0px;
}

section {
  min-height: 90vh;
  color: #08003b;
  font-size: 20px;
  text-align: left;
  padding: 3% 25%;
}

.TituloSessão {
  font-size: 250%;
}

/* Configs da sessão "inicio" */

@media (max-width: 600px) {
  .Inicio {
    margin-top: 90px;
  }
}

.Inicio::before {
  content: "";
  position: absolute;
  inset: 0;
  background:rgba(57, 86, 216, 0.658);
  pointer-events: none;
  z-index: -1;
}

.Inicio {
  position: relative;
  background-image: url('assets/Background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.Inicio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33vh;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'><path fill='%23ffffff' d='M0,64L34.3,90.7C68.6,117,137,171,206,181.3C274.3,192,343,160,411,138.7C480,117,549,107,617,112C685.7,117,754,139,823,160C891.4,181,960,203,1029,181.3C1097.1,160,1166,96,1234,69.3C1302.9,43,1371,53,1406,58.7L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.Inicio h1 {
  padding-top: 10%;
  font-size:350%;
}

.Inicio p {
  padding-top: 10%;
  font-size: 160%;
}

.wave-bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}


/* Configs da sessão "projetos" */

.Projetos {
  background-color: white;
}

.Projetos .scroll-container {
  padding-left: 0;
  margin-left: -35%;
  width: calc(150% + 25%);
  padding-top: 10%;
}

.scroll-container {
  display: flex;
  gap: 45px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  height: 15px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.item {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.item img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 12px;
}

/* Zoom na imagem */

.modal-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
  z-index: 9999;
}

.modal-img:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-img img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  object-fit: contain;
  cursor: zoom-out;
}

.modal-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Configs da sessão "Sobre nós" */

.Sobre-nós {
  background-color: #f3f7fa;
}

.whatsapp-float {
  position: fixed;
  bottom: 8vh;
  right: 3vh;
  z-index: 1000
}

.Sobre-nós .LogoEmpresa {
  block-size: auto;
  padding-top: 5%;
  width: 25vh;
  margin-left: 19vw;
}