* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

.LogoEmpresa{
  width: 105px;
  object-fit: contain;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #f3f7fa, #08003b);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

header nav {
  position: absolute;
  left: 51.4%;
  transform: translateX(-50%);
  display: flex;
  gap: 120px;
}

.TituloHeader {
  text-decoration: none;
  color: black;
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

main {
  padding-top: 0px;
}

section {
  min-height: 90vh;
  background: #f1f1f1;
  color: #08003b;
  font-size: 20px;
  text-align: left;
  padding: 10% 25%;
}

.Inicio {
position: relative;
background-image: url('assets/Background.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
min-height: calc(100vh - 70px);
margin-top: 70px;
color: white;
}

.Inicio::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 33vh;
background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'><path fill='%23f1f1f1' d='M0,64L34.3,90.7C68.6,117,137,171,206,181.3C274.3,192,343,160,411,138.7C480,117,549,107,617,112C685.7,117,754,139,823,160C891.4,181,960,203,1029,181.3C1097.1,160,1166,96,1234,69.3C1302.9,43,1371,53,1406,58.7L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z'/></svg>");
background-size: cover;
background-repeat: no-repeat;
}

.wave-bottom {
position: relative;
width: 100%;
overflow: hidden;
line-height: 0;
}

.wave-bottom svg {
position: relative;
display: block;
width: 100%;
height: 100%;
transform: rotate(180deg);
}

.Projetos{
  
}

.Sobre-nós{
  background-color: antiquewhite;
}

.whatsapp-float {
  position: fixed;
  bottom: 10vh;
  right: 6vh;
  z-index: 1000
}

footer {
  background: linear-gradient(to right, #080700, #c58930);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}